body{
    margin:0; 
    height: 0;
    background-color: #5BC0BE; 
    text-align:center;
    
}
#gameContainer {
    
    
}
#canvas {
    background-color: #1C2541
}
#score {
    display: flex;
    justify-content: center;
}